inventory {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  width: 50%;
  display: block;
  padding: 10pt;
  margin: 5px;
  text-align: left;
}

[name="class 1"] {
  float: left;
  width: 33.33%;
  padding: 5px;
}

[name="class 2"] {
  margin: 0px 0px 0px 35px;
  float: left;
  width: 33.33%;
  padding: 5px;
}

[name="class 3"] {
  margin: -45px 0px 0px 450px;
  float: left;
  width: 33.33%;
  padding: 5px;
}

[room="class 1"] {
  float: left;
  width: 33.33%;
  padding: 5px;
}

[room="class 2"] {
  margin: 0px 0px 0px 35px;
  float: left;
  width: 33.33%;
  padding: 5px;
}

[room="class 3"] {
  margin: -45px 0px 0px 450px;
  float: left;
  width: 33.33%;
  padding: 5px;
}

[class="class 1"] {
  float: left;
  width: 33.33%;
  padding: 5px;
}

[class="class 2"] {
  margin: 0px 0px 0px 35px;
  float: left;
  width: 33.33%;
  padding: 5px;
}

[class="class 3"] {
  margin: -60px 0px 0px 450px;
  float: left;
  width: 33.33%;
  padding: 5px;
}

course {
  margin-top: auto 20px;
}

title {
  position: relative;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  font-size: 150%;
  display: block;
  margin-bottom: 3%;
}

id {
  font-size: 110%;
  font-weight: bold;
  color: #000000;
  display: block;
  padding-bottom: 10px;
}

description {
  font-size: 90%;
  font-style: oblique;
  color: #000000;
  display: block;
  padding-bottom: 10px;
}

prerequisites {
  font-size: 75%;
  font-style: oblique;
  color: #000000;
  display: block;
  padding-bottom: 10px;
}

semester {
  font-size: 90%;
  font-weight: bold;
  color: #000000;
  display: block;
  padding-bottom: 5px;
}

units {
  font-size: 90%;
  font-weight: bold;
  color: #000000;
  display: block;
  padding-bottom: 5px;
}

format {
  font-size: 90%;
  color: #000000;
  display: block;
  padding-bottom: 5px;
}

instructor:before {
  display: block;
  width: 5em;
  font-weight: bold;
  font-size: 100%;
  content: "Instructor";
  padding: .1em .25em;
  background-color: #cdf;
  }

instructor {
  font-size: 90%;
  color: #000000;
  display: block;
}

location:before {
  display: block;
  width: 5.5em;
  font-weight: bold;
  font-size: 100%;
  content: "Classroom";
  padding: .1em .25em;
  background-color: #FFC0B3;
  }

location {
  font-size: 90%;
  color: #000000;
  display: block;
}

time:before {
  display: block;
  width: 6em;
  font-weight: bold;
  font-size: 100%;
  content: "Class Times";
  padding: .1em .25em;
  background-color: #CFFFB3;
  }

time {
  font-size: 90%;
  color: #000000;
  display: block;
}

start:before {
  display: block;
  width: 6em;
  text-decoration: underline;
  font-weight: bold;
  font-size: 100%;
  content: "Start Date";
  padding-top: 20px;
  }

start {
  position: relative;
  margin: 0px 450px 0px 0px;
  display: block;
  font-size: 90%;
  color: #000000;
  display: block;
}

end:before {
  display: block;
  width: 6em;
  text-decoration: underline;
  font-weight: bold;
  font-size: 100%;
  content: "End Date";
  padding-top: 10px;
  }

end {
  position: relative;
  margin: 0px 450px 0px 0px;
  font-size: 90%;
  color: #000000;
  display: block;
  padding-bottom: 50px;
}
